#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  margin: 0;
  background-color: white;
  color: black;
  font-family: "Grandstander", cursive;
}
h1 {
  text-align: center;
  color: black;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


body {
  width: 80%;
  margin: auto;
  font-family: "Grandstander", cursive;
}

h1 {
  text-align: center;
}

figure {
  margin: 0;
  grid-row: 1 / -1;
  place-self: stretch;
  display: flex;
}

figure img {
  width: 120px;
  height: 100%;
  object-fit: cover;
}

figure figcaption {
  padding-left: 15px;
}

.itemContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(2, auto);
  place-items: center;
  border: 1px solid lightgrey;
  margin-top: 25px;
  padding-right: 1rem;
}

.priceContainer {
  display: flex;
  flex-direction: column;
}
.foodPrice {
  margin: 5px;
}
.colorButton {
  background-color: #ebe6e6;
  padding: 5px;
}